<div class='container'>
    <mat-toolbar class='toolbar'>
        <span class='appTitle'>SAIF</span>
        <img src='../assets/img/saif-logo.png'>
    </mat-toolbar>
    <div class='container'>
        <mat-card class='card'>
            <mat-card-title class='cardTitle'>Shoot</mat-card-title>
            <span class="material-icons icon">track_changes</span>
        </mat-card>
        <mat-card class='card'>
            <mat-card-title class='cardTitle'>Buy</mat-card-title>
            <span class="material-icons icon">store</span>
        </mat-card>
        <mat-card class='card'>
            <mat-card-title class='cardTitle'>Reload</mat-card-title>
            <span class="material-icons icon">biotech</span>
        </mat-card>
        <mat-card class='card'>
            <mat-card-title class='cardTitle'>Log</mat-card-title>
            <span class="material-icons icon">fact_check</span>
        </mat-card>
        <mat-card class='card'>
            <mat-card-title class='cardTitle'>Reminders</mat-card-title>
            <span class="material-icons icon">event</span>
        </mat-card>
        <mat-card class='card'>
            <mat-card-title class='cardTitle'>Settings</mat-card-title>
            <span class="material-icons icon">settings</span>
        </mat-card>
    </div>
</div>