.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(175, 160, 135);
    padding: 0 9px;
}
.toolbar{
    background-color: rgb(175, 160, 135);
    padding: auto;
}
.card {
    background-color: rgb(30, 45, 90);
    width: 120px;
    min-height: 150px;
    height: auto;
    margin: 6px;
    text-align: center;
}
.icon {
    display: block;
    font-size: 100px;
    color: white;
}
.cardTitle {
    color: white;
}